@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #121212;
}

.bg {
    height: auto;
    width: 100%;
    background-color: #ddf1fa;
}

.container {
    align-content: center;
    width: 80%;
    max-width: 450px;
    max-height: auto;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 10px #000000;
    background-color: white;
    border-radius: 10px;   
}

.intro {
    height: auto;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;    
}

.center {
    text-align: center;
  }

.title {
    font-size: 80px;
    text-align: center;
    justify-content: center;    
    margin: 50px 50px;
}

.subtitle {
    font-size: 50px;
    margin-top: 32px;
    justify-content: center;    
    margin: 50px;
    padding: 30px;
    display: flex;
}

.text {
    font-size: 20px;
    line-height: 32px;
    color: #6c6c6c;
    margin-top: 16px;
    
}

.textarea {
    resize: vertical;
    width: 100%;
    height: 56px;
    padding: 0 25px;
    font-size: 16px;
}

.mainpage-btn {
    margin: 20px 10px;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid transparent;
    padding: 0 32px;
    font-size: 16px;
    line-height: 48px;
    color: #000000;
    cursor: pointer;
    border-radius: 20px;
    z-index: 5;
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
    position: relative;
    text-transform: none;
    text-decoration: none;
    background-color: #327ca7;
}

.mainpage-btn:hover {
    background-color: #41adec;
    color: #000000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navMenu {
    position: absolute;
    top: 5%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
  
.navMenu a {
    color: #000000;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 80px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .navMenu a:hover {
    color: #3a57fd;
  }
  
  .navMenu .dot {
    width: 6px;
    height: 6px;
    background: #3a57fd;
    border-radius: 50%;
    opacity: 0;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .navMenu a:nth-child(1):hover ~ .dot {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu a:nth-child(2):hover ~ .dot {
    -webkit-transform: translateX(110px);
    transform: translateX(110px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu a:nth-child(3):hover ~ .dot {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  
  .navMenu a:nth-child(4):hover ~ .dot {
    -webkit-transform: translateX(285px);
    transform: translateX(285px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
  }
  